@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.noto-sans{
  font-family: 'Noto Sans', sans-serif;
}
html{
  height: 100%;
  width: 100%;
}
html body{
  height: 100%;
  width: 100%;
  margin:0;
  position: relative;
}
.main{
  height: calc(100% - 50px);
  width: 100%;
  position: relative;
  top: 45px;
  overflow: hidden;
  background-color: #000;
}
.header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #FA6900;
  z-index: 1;
}
.header-btn{
  height: calc(100% - 2px);
  width: 100px;
  position:relative;
  text-align: center;
  border: 1px solid black;
}
.header-btn h1{
  margin: 0;
  height: 100%;
}
.header-text{
  position: relative;
  height: 100%;
  color: #FFF;
  text-decoration: none;
}
.container{
  height          : 100%;
  width           : 100%;
  overflow: scroll;
}
.fourth{
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}
.third-left{
  position: relative;
  float: left;
  width: 33%;
  height: 50%;
  left: 10%;
  background-image: url("http://catalogue.3m.eu/pcimages/10220/fullsize.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.two-thirds-right{
  position: relative;
  float: right;
  width: 47%;
  right: 5%;
  height: 80%;
}
.center-vertical{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.underline{
  text-decoration: underline;
}
#move{
  height: 100px;
  width: 100px;
  position: absolute;
  animation: move 4s ease 0s infinite normal;
}

.color1{background-color: #CAE9E9;}
.color2{background-color: #F6F7F0;}
.color3{background-color: #69D2E7;}
.color1-text{color:#CAE9E9;}
.color2-text{color:#F6F7F0;}
.color3-text{color:#69D2E7;}
.white-text{color:#FFF;}
.content-text{
  color: #FA6900;
}
.red{background-color: #F00;}
.blue{background-color: #00F;}
.green{background-color: #0F0;}
.yellow{  background-color: #FF0;}
